<div class="page-header">
    <h3 class="page-title">
        Add User
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item">
                <a href="#">Forms</a>
                </li> -->
            <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Default form</h4> -->
                <!-- <p class="card-description">
                    Basic form layout
                    </p> -->
                <form #myform="ngForm" (ngSubmit)="register(myform)" class="forms-sample">
                <div class="form-group">
                    <label for="userLevel">User Level</label>
                    <select  name="userLevel" ngModel class="form-control form-control-lg" id="userLevel">
                        <option value="A+">A+</option>
                        <option value="B+">B+</option>
                        <option value="C+">C+</option>
                        <option value="D+">D+</option>
                        <option value="E+">E+</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="group">Group</label>
                    <select name="group" ngModel class="form-control form-control-lg" placeholder="Select" id="group">
                        <option value="A">A</option>
                        <option value="A">B</option>
                        <option value="A">C</option>
                        <option value="A">D</option>
                        <option value="A">E</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="userId">Username</label>
                    <input type="text" name="userId" ngModel class="form-control"  id="userId" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" ngModel class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="fullName">Name</label>
                    <input type="text" name="fullName" ngModel class="form-control" id="fullName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" ngModel class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input name="mobile" type="number" class="form-control" id="mobile" ngModel placeholder="Mobile">
                    <!-- <input name="email" id="register-email" type="email" class="form-input" placeholder="Email" ngModel required> -->
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>