<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <h4 class="card-title">Exams</h4>
              </div>
          </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Exam Name
              </th>
              <th>
                Start & End Date
              </th>
              <th>
                Groups
              </th>
              <th>
                Type
              </th>
              <th>
                Status
              </th>
              <th>
                Result
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                1
              </td>
              <td>
                Demo
              </td>
              <td>
                17-08-2019 To 22-08-2019
              </td>
              <td>
                IIT | CPMT | CA Fit | SSC | Cyril Antony | Mathemathe | dttyujh | mmm | PR | Orientation | العلوم | ioa | 11+ | 13+ | conistable | CHOMU CENTER | NEET | ETEA | Ttt | Test | Test1 | GGGGGGG | 1st secondary | CCNA | Testing | Test Live | class 2 | Sky Coaching | Er | Erfghh | G1 | MPSC | Ias | G3 | IT | Technical | الصف الأول | ACCA | Singodod | nookesh | AIRFORCE | ipa | Diskless Solution | test1234 | JEE Main
              </td>
              <td>
                Preparation
              </td>
              <td>
                <div class="badge badge-success">Active</div>
              </td>
              <td>
                  <div class="badge badge-info">Download Result</div>
              </td>
            </tr>
            <tr>
              <td>
                2
              </td>
              <td>
                CCND
              </td>
              <td>
                09-07-2019 To 08-08-2019
              </td>
              <td>
                IIT | CPMT | CA Fit | SSC | Cyril Antony | Mathemathe | dttyujh | mmm | PR | Orientation | العلوم | ioa | 11+ | 13+ | conistable | CHOMU CENTER | NEET | ETEA | Ttt | Test | Test1 | GGGGGGG | 1st secondary | CCNA | Testing | Test Live | class 2 | Sky Coaching | Er | Erfghh | G1 | MPSC | Ias | G3 | IT | Technical | الصف الأول | ACCA | Singodod | nookesh | AIRFORCE | ipa | Diskless Solution | test1234 | JEE Main
              </td>
              <td>
                Exam
              </td>
              <td>
                <div class="badge badge-info">Inactive</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                3
              </td>
              <td>
                TPW
              </td>
              <td>
                19-12-2018 To 08-01-2019
              </td>
              <td>
                IIT | CPMT | CA Fit | SSC | Cyril Antony | Mathemathe | dttyujh | mmm | PR | Orientation | العلوم | ioa | 11+ | 13+ | conistable | CHOMU CENTER | NEET | ETEA | Ttt | Test | Test1 | GGGGGGG | 1st secondary | CCNA | Testing | Test Live | class 2 | Sky Coaching | Er | Erfghh | G1 | MPSC | Ias | G3 | IT | Technical | الصف الأول | ACCA | Singodod | nookesh | AIRFORCE | ipa | Diskless Solution | test1234 | JEE Main
              </td>
              <td>
                Exam
              </td>
              <td>
                <div class="badge badge-info">Inactive</div>
              </td>
              <td>
                <div class="badge badge-info">Download Result</div>
              </td>
            </tr>
            <tr>
              <td>
                4
              </td>
              <td>
                DVK
              </td>
              <td>
                21-12-2018 To 01-01-2019
              </td>
              <td>
                IIT | CPMT | CA Fit | SSC | Cyril Antony | Mathemathe | dttyujh | mmm | PR | Orientation | العلوم | ioa | 11+ | 13+ | conistable | CHOMU CENTER | NEET | ETEA | Ttt | Test | Test1 | GGGGGGG | 1st secondary | CCNA | Testing | Test Live | class 2 | Sky Coaching | Er | Erfghh | G1 | MPSC | Ias | G3 | IT | Technical | الصف الأول | ACCA | Singodod | nookesh | AIRFORCE | ipa | Diskless Solution | test1234 | JEE Main
              </td>
              <td>
                SSC
              </td>
              <td>
                <div class="badge badge-info">Inactive</div>
              </td>
              <td>
                <div class="badge badge-info">Download Result</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>