<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <h4 class="card-title">Students</h4>
              </div>
          </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Email
              </th>
              <th>
                Name
              </th>
              <th>
                Phone
              </th>
              <th>
                Group
              </th>
              <th>
                Admission Date
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                1
              </td>
              <td>
                demo@yahoo.com
              </td>
              <td>
                Demo
              </td>
              <td>
                9739867848
              </td>
              <td>
                IIT | CPMT | CA Fit | SSC | Cyril Antony | Mathemathe | dttyujh | mmm | PR | Orientation | العلوم | ioa | 11+ | 13+ | conistable | CHOMU CENTER | NEET | ETEA | Ttt | Test | Test1 | GGGGGGG | 1st secondary | CCNA | Testing | Test Live | class 2 | Sky Coaching | Er | Erfghh | G1 | MPSC | Ias | G3 | IT | Technical | الصف الأول | ACCA | Singodod | nookesh | AIRFORCE | ipa | Diskless Solution | test1234 | JEE Main
              </td>
              <td>
                19-04-2014
              </td>
              <td>
                <div class="badge badge-success">Active</div>
              </td>
            </tr>
            <tr>
              <td>
                2
              </td>
              <td>
                turcy@gmail.com
              </td>
              <td>
                Turcy
              </td>
              <td>
                7878456390
              </td>
              <td>
                IIT | CPMT | CA Fit | SSC | Cyril Antony | Mathemathe | dttyujh | mmm | PR | Orientation | العلوم | ioa | 11+ | 13+ | conistable | CHOMU CENTER | NEET | ETEA | Ttt | Test | Test1 | GGGGGGG | 1st secondary | CCNA | Testing | Test Live | class 2 | Sky Coaching | Er | Erfghh | G1 | MPSC | Ias | G3 | IT | Technical | الصف الأول | ACCA | Singodod | nookesh | AIRFORCE | ipa | Diskless Solution | test1234 | JEE Main
              </td>
              <td>
                04-04-2014
              </td>
              <td>
                <div class="badge badge-danger">Inactive</div>
              </td>
            </tr>
            <tr>
              <td>
                3
              </td>
              <td>
                test@gmail.com
              </td>
              <td>
                Test
              </td>
              <td>
                8746104673
              </td>
              <td>
                IIT | CPMT | CA Fit | SSC | Cyril Antony | Mathemathe | dttyujh | mmm | PR | Orientation | العلوم | ioa | 11+ | 13+ | conistable | CHOMU CENTER | NEET | ETEA | Ttt | Test | Test1 | GGGGGGG | 1st secondary | CCNA | Testing | Test Live | class 2 | Sky Coaching | Er | Erfghh | G1 | MPSC | Ias | G3 | IT | Technical | الصف الأول | ACCA | Singodod | nookesh | AIRFORCE | ipa | Diskless Solution | test1234 | JEE Main
              </td>
              <td>
                17-04-2017
              </td>
              <td>
                <div class="badge badge-success">Aactive</div>
              </td>
            </tr>
            <tr>
              <td>
                4
              </td>
              <td>
                dummy@outlook.com
              </td>
              <td>
                Dummy
              </td>
              <td>
                9046739285
              </td>
              <td>
                IIT | CPMT | CA Fit | SSC | Cyril Antony | Mathemathe | dttyujh | mmm | PR | Orientation | العلوم | ioa | 11+ | 13+ | conistable | CHOMU CENTER | NEET | ETEA | Ttt | Test | Test1 | GGGGGGG | 1st secondary | CCNA | Testing | Test Live | class 2 | Sky Coaching | Er | Erfghh | G1 | MPSC | Ias | G3 | IT | Technical | الصف الأول | ACCA | Singodod | nookesh | AIRFORCE | ipa | Diskless Solution | test1234 | JEE Main
              </td>
              <td>
                17-09-2016
              </td>
              <td>
                <div class="badge badge-success">Active</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>